<p-card [style]="{width:'70%',margin:'0 auto',marginTop:'7px'}">
    <div *ngIf="fliped===false" [style.background-image]="'url(' + current.imageUrl + ')'" class="bg-image"
         id="imageDiv">
    </div>
    <div *ngIf="fliped===true" [style.background-image]="'url(' + current.imageUrl + ')'" class="bg-image-no-blur"
         id="imageDiv2">
    </div>
    <div id="divStudentResponse" style="width: auto;margin:0 auto;margin-top: 15px;text-align: center">
        <i class="pi pi-volume-up p-mr-2 p-d-inline" style="font-size: 1.5rem; cursor: pointer;color: greenyellow"
           (click)="sound(current.response)"></i>
        <h2 class="p-d-inline">{{current.response}}</h2>
        <h3 id="translateShow" style="margin-top: 10px;visibility: hidden">{{current.translation}}</h3>
    </div>

    <div id="infoDiv" class="card"
         style="width: 100%;margin:0 auto;margin-top: 7px;background: #F6F6F6;visibility: hidden">
        <p-accordion>
            <div class="p-text-left">
                <h5>Explanation</h5>
                <p>{{current.explanation}}</p>
                <h5>Example</h5>
                <p>{{current.example}}</p>
                <h5>Synonyms</h5>
                <ul  *ngIf="current.synonyms!==null">
                    <li style="display: inline;margin-right: 10px" *ngFor="let s of current.synonyms; let i = index">
                        <i class="pi pi-volume-up p-mr-2 p-d-inline"
                           style="font-size: 1.5rem; cursor: pointer;color: #343a40"
                           (click)="sound(s)"><span style="margin-left: 3px">{{s}}</span></i>
                    </li>
                </ul>

            </div>
        </p-accordion>
    </div>


</p-card>

