.card {
  background-color: black;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.box {
  width: 300px;
  height: 300px;
  margin: 20px 20px;
  background-color: gainsboro;
  text-align: center;
  padding: 1.25rem;
  font-size: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.box > h4 {
  font-family: Auriol;
  font-size: 20px;
}

.box > h6 {
  font-family: Oliver;
  font-size: 15px;
}

.box-stretched {
  height: 100%;
}

.vertical-container {
  margin: 0;
  height: 200px;
  background: var(--surface-d);
  border-radius: 4px;
}

.nested-grid .p-col-4 {
  padding-bottom: 1rem;
}

.box > img {
  width: 70%;
  height: 70%;
}

.box > button {
  position: absolute;
  margin-left: -150px;
  margin-top: -300px;
  width: 300px;
  height: 300px;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}
