<!--
<div class="p-grid" style="  margin-left: 30px; margin-top: 20px">
    <div class="card p-col-11" style="background-color: gainsboro;  margin-left: 30px; margin-top: 20px">
        <h1 s style="text-align: center; margin-bottom: 30px; color: black">Registration Teacher</h1>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <label for="firstname6" style="color: black;">Firstname</label>
                <input [(ngModel)]="selectedProf.prenom" id="firstname6" pInputText type="text">
                <small *ngIf="submitted && !selectedProf.prenom" class="p-invalid">FirstName is required.</small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="lastname6" style="color: black;">Lastname</label>
                <input [(ngModel)]="selectedProf.nom" id="lastname6" pInputText type="text">
                <small *ngIf="submitted && !selectedProf.nom" class="p-invalid">LastName is required.</small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="integeronly" style="color: black;">Phone Number </label>
                <input [(ngModel)]="selectedProf.numero" id="integeronly" pInputText>
            </div>

            <div class="p-field p-col-12 p-md-6">
                <label for="email" style="color: black;">email</label>
                <input [(ngModel)]="selectedProf.email" id="email" pInputText type="text">
                <small *ngIf="submitted && !selectedProf.email" class="p-invalid">Email is required.</small>
            </div>
            <div class="p-field p-col-12">
                <label for="address" style="color: black;">Address</label>
                <textarea [(ngModel)]="selectedProf.addresse" id="address" pInputTextarea rows="4"
                          type="text"></textarea>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="users" style="color: black;">UserName</label>
                <input [(ngModel)]="selectedProf.login" id="users" pInputText type="text">
                <small *ngIf="submitted && !selectedProf.login" class="p-invalid">UserName is required.</small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="Pass" style="color: black;">Password</label>
                <input [(ngModel)]="selectedProf.password" id="Pass" pInputText type="password">
                <small *ngIf="submitted && !selectedProf.password" class="p-invalid">Password is required.</small>
            </div>
        </div>

        <p-button (click)="save()" icon="pi pi-check" iconPos="right" label="Submit" style="float: right;"></p-button>


    </div>
</div>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="main">

    <div class="container">
        <form method="POST" class="appointment-form" id="appointment-form">
            <h2>Registration form</h2>
            <div class="form-group-1">
                <input type="text" name="title" id="title" placeholder="Firstname" [(ngModel)]="selectedProf.prenom" required />
                <input type="text" name="name" id="name" placeholder="Lastname" [(ngModel)]="selectedProf.nom" required />
                <input type="password" name="Password" id="Password" placeholder="Password" required [(ngModel)]="selectedProf.password"/>
                <input type="text" name="UserName" id="UserName" placeholder="UserName" required [(ngModel)]="selectedProf.username"/>
                <input type="tel" name="phone_number" id="phone_number" placeholder="Phone number" required [(ngModel)]="selectedProf.numero"/>
                <input type="text" name="Address" id="Address" placeholder="Address" required [(ngModel)]="selectedProf.addresse"/>
                <div  style="visibility: hidden; height: 0px; width: 0px; margin-bottom: 10px" id="log-pass" >
                    <p-message severity="error" text="Username or Password invalid" autoWidth="false" style="width: 100%"></p-message></div>

            </div>
            <div class="form-submit" >
                <input type="submit" name="submit" id="submit" class="submit" value="Submit" (click)="save()"/>
            </div>
        </form>
    </div>

</div>

</body>
</html>
