<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '450px'}" header="You're opinion"
          styleClass="p-fluid">
    <ng-template pTemplate="content">



<p>Hello , how did you find today's lesson with this professor</p>

        <div class="p-grid p-fluid">
            <div class="p-field p-col-12 p-md-3">
                <span style='font-size:100px;'>&#128532;</span>
                <p>I will display &#128532;</p>

            </div>
            <div class="p-field p-col-12 p-md-3">
                <span style='font-size:100px;'>&#128545;</span>
                <p>I will display &#128545;</p>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <span style='font-size:100px;'>&#128549;</span>
                <p>I will display &#128549;</p>


            </div>
            <div class="p-field p-col-12 p-md-3">
                <span style='font-size:100px;'>&#128578;</span>
                <p>I will display &#128578;</p>


            </div>
        </div>




    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="hideViewDialog()" class="p-button-text" icon="pi pi-times" label="Fermer" pButton
                pRipple></button>
    </ng-template>
</p-dialog>
