#schedule {
  height: 850px;
  width: 2250px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.titleS {

  font-weight: bold;
}

#scheduleTitre {
  font-size: 55px;
  font-family: Algerian, serif;

  color: black;
}

