div {
  text-align: center;
  //width: 1000px;
}

#card {
  height: 600px;
  width: 1050px;
  text-align: center;
  margin-left: 50px;
  background-color: white;
}

.card-body {
  height: 450px;
  //width: 775px;
}

.card-header {
  background-color: black;
  height: 80px;
  color: cyan;
}

#quizGrammar {
  margin-left: 400px;
  margin-right: 80px;
  font-size: 30px;
  font-family: Algerian;
  color: cyan;
}

.start {
  visibility: visible;
}

.question > output {
  font-family: Palatino Linotype;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.question_answer {
  position: relative;
  margin-bottom: 10px;
  display: block;
  padding: 8px 15px;
  background-color: #90eef0;
  color: white;
  border-radius: 15px;
  transition: all 0.3s ease-out;
  width: 300px;
  height: 40px;
  margin-left: 350px;
  margin-top: 40px;
}

.question_answer > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

#finish > output {
  margin-top: 50px;
  font-size: 30px;
  font-family: Garamond;
}

#finish {
  visibility: hidden;
  margin-top: 50px;
}


.start > div {
  margin-top: 10px;
  font-size: 15px;
}

#resultat {
  font-size: 20px;
}
