<div>
    <p-panel>
        <ng-template pTemplate="header">
            <h5>what's New</h5>
        </ng-template>

        <div class="timeline card card-w-title">
            <ul>
                <li style="height: 60px;color: black">
                    <span>04 Oct:</span>
                    <a routerLink="prof/faq-teacher" style="margin-left: 30px;color: green">Happy Teachers Day 2019</a>
                </li>
                <li style="height: 60px;color: black">
                    <span>31 Juil:</span>
                    <a routerLink="prof/news-teacher" style="margin-left: 30px;color: green">Summer 2019 Champions</a>
                </li>
                <li style="height: 60px;color: black">
                    <span>11 juin:</span>
                    <a routerLink="prof/news-teacher" style="margin-left: 30px;color: green">Webinars for Teacher</a>
                </li>
                <li style="height: 60px;color: black">
                    <span>31 May:</span>
                    <a routerLink="prof/news-teacher" style="margin-left: 30px;color: green">Summer plan 2019</a>
                </li>
                <li style="height: 60px;color: black">
                    <span>18 April</span>
                    <a routerLink="prof/news-teacher" style="margin-left: 30px;color: green">May Lifehack</a>

                </li>

            </ul>
        </div>
    </p-panel>
</div>
