<p-dialog [(visible)]="createDialog" [modal]="true"
          [style]="{width: '450px'}" header="Registration Create" styleClass="p-fluid">
    <ng-template pTemplate="content">


        <div class="p-field">
            <label for="prof">Teacher</label>
            <input [(ngModel)]="selected.prof.numero" autofocus id="prof" pInputText required type="text"/>
            <small *ngIf="submitted && !selected.prof.numero" class="p-invalid">prof is required.</small>
        </div>
        <div class="p-field">
            <label for="etat">Registration status</label>
            <input [(ngModel)]="selected.etatInscription.ref" autofocus id="etat" pInputText required type="text"/>
            <small *ngIf="submitted && !selected.etatInscription.ref" class="p-invalid">etat is required.</small>
        </div>


        <div class="p-field">
            <label for="etudiant">Student</label>
            <input [(ngModel)]="selected.nom" autofocus id="etudiant" pInputText required type="text"/>
            <small *ngIf="submitted && !selected.nom" class="p-invalid">etudiant LastNme is required.</small>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="numeroInscription">Registration Number</label>
                <p-inputNumber [(ngModel)]="selected.numeroInscription" id="numeroInscription"></p-inputNumber>
            </div>
        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="hideCreateDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>
        <button (click)="save()" class="p-button-text" icon="pi pi-check" label="Save" pButton pRipple></button>
    </ng-template>
</p-dialog>

