<p-panel>
    <ng-template pTemplate="header">
        <h5>Recommande New Teacher</h5>
        <i class="pi pi-chevron-circle-down"
           style="font-size: 24px;margin-left: 400px;margin-bottom: 10px;color: green"></i>
        <p style="color: green">How it's work</p>
    </ng-template>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-3 p-md-3" style="height: 160px">
            <img alt="roma-layout" src="https://png.pngtree.com/element_pic/00/16/08/2657c01bddd9754.jpg"
                 style="height: 130px"></div>
        <div class="p-field p-col-3 p-md-3">
            <h2>2500-3750 rub</h2>

        </div>


    </div>
</p-panel>
