<div class="p-grid ">
    <h1 style="margin-left: 4%; margin-top: 1%; ">Classes</h1>
    <div class="p-col-11" style="margin-left: 4%; ">
        <p-toast></p-toast>
        <div class="card" style="background-color: gainsboro">
            <p-toolbar styleClass="p-mb-4 inline">
                <ng-template pTemplate="right">
                    <p-fileUpload [maxFileSize]="1000000" accept="cvs/*" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"
                                  label="Import" mode="basic"></p-fileUpload>
                    <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload" label="Export" pButton
                            pRipple></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [(selection)]="selectesclassRoom" [columns]="cols" [globalFilterFields]="['libelle','description','etudiantClassRoomList','quizClassRoomList']" [paginator]="true"
                     [rowHover]="true"
                     [rows]="6" [showCurrentPageReport]="true" [value]="itemsclassRoom"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     dataKey="id"
                     styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">ClassRoom</h5>

                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="libelle">Name
                            <p-sortIcon field="libelle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">Descriptions
                            <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="etudiantClassRoomList">Students
                            <p-sortIcon field="etudiantClassRoomList"></p-sortIcon>
                        </th>
                        <th pSortableColumn="quizClassRoomList">Quizes
                            <p-sortIcon field="quizClassRoomList"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template let-classRoom pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="classRoom"></p-tableCheckbox>
                        </td>
                        <td>{{classRoom.libelle}}</td>
                        <td>{{classRoom.description}}</td>
                        <td>

                            <button (click)="viewEtudiant(classRoom)" (click)="FindEtudiant(classRoom)" class="p-button-rounded p-button-info p-mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                        </td>
                        <td>

                            <button (click)="viewQuiz(classRoom)" (click)="FindQuiz(classRoom)" class="p-button-rounded p-button-info p-mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{itemsclassRoom ? itemsclassRoom.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <app-etudianttt-view></app-etudianttt-view>
        <app-quiz-view></app-quiz-view>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

