<div>
    <p-panel>
        <ng-template pTemplate="header">
            <h5>NEAREST LESSON</h5>
            <p style="margin-left: 400px"><a routerLink="/prof/schedule" style="color: green">SCHEDULE</a></p>
        </ng-template>
        <div class="p-fluid p-formgrid p-grid" style="height: 190px">
            <div class="p-field p-col-4 p-md-2">
                <img alt="roma-layout" src="https://png.pngtree.com/element_pic/00/16/08/2657c01bddd9754.jpg"
                     style="height: 150px"></div>
            <div class="p-field p-col-4 " style="margin-top: 20px ;margin-left: 25px">
                <p>Skupe: klubochek87</p>
                <p> Balance: 6</p>
            </div>

            <div class="p-field p-col-4 p-md-4">
                <p> {{lastUpdate}}</p>
                <p style="margin-top: 20px"> Pre-intermediate for Teens</p>

            </div>
        </div>
    </p-panel>
</div>
