#header {
  background: white;
  width: 60%;
  margin-left: 20%;
}

#bodyRadio {
  width: 60%;
  margin-left: 5%;
  margin-top: 10px;
}

#result {
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;
  background-color: white;
  visibility: hidden;
}

#question {
  background: white;
}

#answers {
  background: #f5f5f5;
}

#answers-radio {
  background-color: white;
  margin-top: 10px;
  height: 30px;
  font-size: 20px;
}

#answers-radio > label {
  margin-left: -50px;
}

#answers-radio > input {
  //position: absolute;
  //left: 0;
  //top: 0;
  //text-align: left;
  width: 70%;
  height: 70%;
  margin-left: -20%;
  //z-index: 1;
  cursor: pointer;
  //opacity: 0;
}

#float-input-correct-mistake {
  height: 100%;
  width: 80%;
  border: none;
  border-bottom: 2px solid cyan;
  font-size: 30px;
  font-family: "Goudy Old Style";
  color: #0a80bb;
  margin-top: 100px;
  margin-bottom: 50px;
}
