<!--<div class="col-md-8 mt-lg-5"  style="margin-left: 140px;">
    <div class="card" id="card" >
        <div class="card-header">
            <output id="quizGrammar">Quiz</output>
        </div>
        <div class="card-body" id="quiz">
            <div class="start" id="start">
                <div><h3>Preview quiz</h3></div><br>
                <div>Quiz will start at 05/08/2021</div><br>
                <div>And will end at 05/08/2021</div><br>
                <div>You have 1 hour</div><br>
                <div>Good luck</div><br>

                <button pButton pRipple class="p-button-rounded p-mr-2" id="btn-start" label="Start" (click)="start()"></button>
                <button pButton pRipple class="p-button-rounded p-mr-2" id="btn-update" label="Update this question" (click)="openUpdate()"></button>
            </div>

            <div class="question" id="question">
                <p-progressBar [value]="numQuestion*100/items.length"></p-progressBar>

                <br><br><br><output><B>{{selected.numero}} - {{selected.libelle}} </B></output>

                <div *ngFor="let r of reponses" class="question_answer" id="div-{{r.id}}">
                    <input type="{{this.type}}" (click)="selectionChanged($event,r)" value="{{r.id}}" [(ngModel)]="selectedValue" name="groupname" ngModel>
                    <label>{{r.lib}}</label><br>
                </div>
            </div>

            <div class="card-body2" id="finish">
                <output>You finish this quiz</output><br>
                <output id="congratulations">Congratulations</output><br>
                <output id="hard-luck">Hard-luck next time</output><br>
            </div>


        </div>
        <div class="card-footer">
            <button pButton pRipple class="p-button-rounded p-mr-2" id="btn-next" style="background-color: #0C8990" label="{{this.button}}" (click)="next()"></button>
        </div>
    </div>
</div>
-->

<div class="p-grid" id="header">
    <div class="p-col-6">{{this.selected.typeDeQuestion.lib}}</div>
    <div class="p-col-6">{{this.selected.numero}} out of {{this.items.length}}</div>
</div>
<div class="p-grid">
    <div class="p-col-fixed" style="width: 20%">
        <p-table [value]="this.items">
            <ng-template pTemplate="header">
                <tr>

                    <th pSortableColumn="libelle" style="text-align: center">Question's number
                        <p-sortIcon field="libelle"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template let-quetions pTemplate="body">
                <tr>
                    <td (click)="findQuestionByNumber(quetions.numero)"
                        [style.color]="(quetions.numero) == (this.selected.numero)? 'green' :'orange' "
                        style="text-align: center"
                        style="cursor: pointer; text-align: center"><u>{{quetions.numero}}</u></td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <div class="p-col">
        <div class="p-grid" id="bodyRadio">
            <div class="p-col-6" id="question">
                <h3 style="margin-top: 100px;margin-bottom: 100px; text-align: center">{{this.question1}} <span
                        id="AnswerCorrect"
                        style="color: #1af045"> {{this.correctAnswers[0].lib}} </span> {{this.question2}}</h3>
            </div>
            <div class="p-col-6" id="answers">
                <div style="margin: 50px 50px">
                    <div *ngFor="let r of reponses" id="answers-radio">
                        <input [(ngModel)]="selectedValue" [attr.disabled]="true" name="groupname" type="radio"
                               value="{{r.id}}">
                        <label>{{r.lib}}</label><br>
                    </div>
                </div>
            </div>

            <div id="mistake" style="background-color: white; width: 100%">
        <span class="p-float-label" style="margin-left: 10%; margin-bottom: 20px">
            <textarea [(ngModel)]="this.selected.libelle" [disabled]="true" id="float-input-correct-mistake" pInputTextarea
                      rows="1"></textarea>
            <h3 style="color: black; font-family: 'Goudy Old Style';"> The correct answer :  <span
                    style="color: #1af045; font-family: 'Goudy Old Style';">{{this.trueAnswerCorrectMistake}}</span></h3>
        </span>
            </div>
            <div id="button-next" style="margin-left: 40%; margin-top: 50px">
                <button (click)="start()" class="p-button-outlined p-button-success" label="Next" pButton pRipple style="width: 200px;"
                        type="button"></button>
            </div>

        </div>
        <div id="result" style="visibility: hidden; height: 60%; width: 60%">
            <h3 style="margin-top: 200px; margin-left: 40%; margin-bottom: 100px">You finish this quiz</h3>
            <button (click)="backToParcoursList()" class="p-button-raised p-button-help" icon="pi pi-angle-double-left" label="Back to parcours list" pButton
                    pRipple style="margin-left: 10%"
                    type="button"></button>
            <button (click)="viewQuizEtudiant()" class="p-button-raised" icon="pi pi-align-justify" label="View quiz student" pButton
                    pRipple style="margin-left: 10%" type="button"></button>
            <button (click)="openUpdate()" class="p-button-raised p-button-success" icon="pi pi-undo" label="Update this quiz" pButton pRipple
                    style="margin-left: 10%" type="button"></button>
        </div>
    </div>
</div>


