<div class="layout-topbar">

    <a class="layout-topbar-logo" href="#">
        <span id="topbar-logo" style="color: white; font-family: 'Lucida Bright'"><h1>American Center</h1></span>
    </a>


    <ul class="topbar-menu">
        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}" class="user-profile">
            <a href="#">
                <img src="{{this.serviceUser.prof.image}}"/>
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name">{{this.serviceUser.prof.nom}}</span>
                    <span class="layout-profile-role">{{this.serviceUser.prof.prenom}}</span>
                </div>
            </a>
        </li>

        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}" class="user-profile"
            style="margin-top: 4px">
            <a (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser" href="#">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Admin &#9207;</h4></b></span>
                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a [routerLink]="['/pages/login-admin']">
                        <i class="pi pi-fw pi-user"></i>
                        <span>Sign in</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/inscriptionAdmin']">
                        <i class="pi pi-fw pi-user-plus"></i>
                        <span>Sign up</span>
                    </a>
                </li>
            </ul>
        </li>
        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarNotificationMenuActive}" class="user-profile"
            style="margin-top: 4px">
            <a (click)="appMain.onTopbarNotificationMenuButtonClick($event)" *ngIf="!app.inlineUser" href="#">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Teacher &#9207;</h4></b></span>
                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a [routerLink]="['/pages/login-prof']">
                        <i class="pi pi-fw pi-user"></i>
                        <span>Sign in</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/inscriptionTeacher']">
                        <i class="pi pi-fw pi-user-plus"></i>
                        <span>Sign up</span>
                    </a>
                </li>
            </ul>
        </li>
        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarNotificationMenuActive2}" class="user-profile"
            style="margin-top: 4px">
            <a (click)="appMain.onTopbarNotificationMenuButtonClick2($event)" *ngIf="!app.inlineUser" href="#">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Student &#9207;</h4></b></span>
                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a [routerLink]="['/pages/login-etudiant']">
                        <i class="pi pi-fw pi-user"></i>
                        <span>Sign in</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/inscriptionEtudiant']">
                        <i class="pi pi-fw pi-user-plus"></i>
                        <span>Sign up</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>

