<div>
    <p-dropdown (click)="findTypes()" [(ngModel)]="utilisateur" [options]="utilisateurs" id="destinataire" optionLabel="label"
                pInputText></p-dropdown>
</div>
<p-tabMenu (click)="init()" [activeItem]="menu[0]" [model]="menu"></p-tabMenu>
<p-tree [value]="nodes">
    <ng-template let-node pTemplate="default">
        <b class="libelle">{{node.label}}</b>
    </ng-template>
    <ng-template let-node pTemplate="string">
        <b class="description" style="color: blue; white-space: pre-wrap;">{{node.label}}</b>
    </ng-template>
</p-tree>
<button [routerLink]="['/pages/faq-create']" class="p-button-rounded p-button-success p-mr-2" label="Create new FAQ" pButton
        pRipple style="background-color: #0C8990"></button>
