<div class=" card" style="background-color: transparent">
    <div class="p-grid">
        <div *ngIf="showVocabulary===false" class="p-col">
            <div class="product-grid-item " style="background-color: white">
                <div class="product-grid-item-content" >
                    <div class="product-name" style="margin-bottom: 15px; background-color: #1BA7AF; color: white"><h1>{{this.selectedsection.libelle}}</h1>
                    </div>
                    <!-- <iframe *ngIf=" this.selectedsection.libelle != 'Watch the video' && this.selectedsection.urlImage != null"
                               [src]='photoURL() | safe' loading="lazy" width="400" height="200" ></iframe> -->
                    <div style="width: 80%;margin: 0 auto">
                        <img *ngIf=" this.selectedsection.urlImage && !this.selectedsection.urlVideo"
                             src="{{photoURL()}}"
                             style="width: 100%">
                        <iframe *ngIf="this.selectedsection.urlVideo && !this.selectedsection.urlImage"
                                [src]='URLVideo() | safe'
                                allowfullscreen loading="lazy" style="width: 100% ;height: 500px;"></iframe>
                        <div *ngIf="this.selectedsection.urlVideo && this.selectedsection.urlImage"
                             style="width: 100%;">
                            <img src="{{photoURL()}}" style="width: 100%">
                            <div>
                                <iframe [src]='URLVideo() | safe' allowfullscreen
                                        loading="lazy" style="width: 100%;"></iframe>
                            </div>

                        </div>
                        <img *ngIf="!this.selectedsection.urlImage && !this.selectedsection.urlVideo"
                             src="../../../../../assets/notfound.jpg" style="width: 100%">


                        <div *ngIf=" this.selectedsection.contenu != null && this.selectedsection.urlVideo == null" style="box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)">
                            <h3 (mouseup)="dict()"
                                style=" background-color: white;white-space: pre-wrap; font-family: Great Vibes, cursive; font-size: 200%;line-height: 60px; text-align: left ;margin-left: 50px ;">{{this.selectedsection.contenu}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div style="position: relative;margin-top: 50px">
                <button (click)="PreviousSection()"
                        [style.visibility]="(this.selectedsection.numeroOrder != 1)? 'visible':'hidden'"
                        class="p-button-rounded" icon="pi pi-caret-left" id="previous"
                        label="Previous" pButton pRipple
                        style="margin-left: 15px; width: 120px"
                        type="button"></button>
                <button *ngIf="this.selectedsection.categorieSection.libelle != 'Vocabulary'  "
                        [routerLink]="quizView? ['/pages/quiz-view']: ['/pages/quiz-take']"
                        [style.visibility]="(this.selectedQuiz.section.id == this.selectedsection.id )? 'visible':'hidden'"
                        class="p-button-rounded"
                        id="quiz" label="{{this.passerQuiz}}"
                        pButton
                        pRipple
                        style="position: absolute;margin: 0;left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);top: 50%;  width: 120px"
                        type="button"></button>
                <button (click)="NextSection()"
                        [style.visibility]="(this.selectedsection.numeroOrder < this.itemssection2.length)? 'visible':'hidden'"
                        class="p-button-rounded" icon="pi pi-caret-right" id="next" label="Next"
                        pButton pRipple
                        style=" width: 120px;  position: absolute;right: 15px;"
                        type="button"></button>
                <button (click)="Vocab(this.selectedsection)"
                        *ngIf="this.selectedsection.categorieSection.libelle == 'Vocabulary'" class="p-button-rounded"
                        icon="pi pi-caret-right" label="Vocabulary"
                        pButton
                        pRipple style="margin-left: 360px; width: 120px"
                        type="button"></button>
                <button (click)="finish()"
                         [style.visibility]="(this.selectedsection.numeroOrder < this.itemssection2.length)? 'hidden':'visible'"
                         class="p-button-rounded" icon="pi pi-check" label="Finish" pButton pRipple
                        style=" width: 130px;  position: absolute;right: 15px;"
                        type="button"></button>
            </div>
        </div>

        <div *ngIf="showVocabulary===true" class="p-col">
            <app-vocabulary-section (someEvent)="return($event)"></app-vocabulary-section>
        </div>
        <!-- <div class="p-col-2 card">
             <h5>Categorie</h5>
             <p-timeline [value]="itemssection2">
                 <ng-template pTemplate="content" let-event >
                     <td (click)="Section(section.categorieSection.libelle)"
                         [style.color]="(section.categorieSection.libelle) == (this.selectedsection.categorieSection.libelle)? 'green' :'black' ">  {{ event.categorieSection.libelle}}</td>
                 </ng-template>
             </p-timeline>
         </div>-->
        <div class="p-col-3 product-grid-item">
            <div class="product-grid-item-content" style="margin-top: 0">
                <div style="margin-top: 0px">
                    <div id="dictionnair"  class="p-inputgroup" style="width: 0%; height: 0px; visibility: hidden; margin-bottom: 10px">
                    <h5 style="margin-left: 5px; text-align: center"><b style="font-size: 20px; color: #1BA7AF;" >+</b>
                        <u style="color: #8b8b90; margin-left: 10px">{{this.selectedDict.word}}</u> :  {{this.selectedDict.definition}}
                    </h5>
                    </div>
                    <div class="p-inputgroup" style="width: 100%; align-content: center">
                        <p-autoComplete (completeMethod)="filterDict($event)" [(ngModel)]="word"
                                        [minLength]="1" [suggestions]="filteredDict"
                                        field="word" ></p-autoComplete>
                        <button (click)="findByWord()" icon="pi pi-search" pButton pRipple type="button"></button>
                        <button (click)="openCreateDict()" icon="pi pi-plus" pButton pRipple style="background-color: #8b8b90"
                                type="button"></button>
                    </div>
                    <!-- <input  [(ngModel)]="word" pInputText placeholder="Search" style="width: 180px;" type="text"/>
                     <button pButton pRipple type="button" icon="pi pi-search"  (click)="findByWord()" style="margin-left: 2px;" ></button>

                     <p-button (click)="openCreateDict()" icon="pi pi-plus" style="margin-left: 2px;" ></p-button>
              -->
                </div>
                <div class="card" style="margin-top: 15px">
                    <p-tabMenu [activeItem]="menu[0]" [model]="menu" style="width: 100%;background-color: #1BA7AF"></p-tabMenu>


                    <div id="categoriess" style="width: 100%;margin-top: 15px">
                        <p-table [value]="itemssection2" id="categ" style="margin-top: 20px; margin-right: 30px;">

                            <ng-template let-section pTemplate="body">
                                <tr class="timeline">
                                    <li>
                                        <td (click)="Section(section.categorieSection.libelle)"
                                            [style.color]="(section.categorieSection.libelle) == (this.selectedsection.categorieSection.libelle)? '#8b8b90' :'#1BA7AF' "
                                            style="cursor: pointer; font-weight: 600;margin-left: 5px; font-size: 15px">
                                            <u>{{section.categorieSection.libelle}}</u></td>
                                    </li>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div [style.visibility]="'hidden'" id="word" style="margin-top: 5px; width: 0px; height: 0px">

                        <p-table [paginator]="true" [rowHover]="true" [rows]="5" [value]="itemsDict" dataKey="id"
                                 id="wrd" style="margin-top: 20px; width: 0px">

                            <ng-template let-dict pTemplate="body">
                                <tr>

                                    <td (click)="dictEdit(dict)"
                                        style="font-weight: 800; text-align: center; color: #1BA7AF;cursor: pointer"><b style="font-size: 20px">{{dict.word}} : {{dict.definition}}</b></td>
                                </tr>
                            </ng-template>

                        </p-table>
                    </div>
                    <app-chat1 [style.visibility]="'hidden'" id="chat"></app-chat1>

                </div>
                <!-- <div class="card" style="margin-top: 15px">
                     <p-tabMenu [model]="menuchat"  [activeItem]="menuchat[0]" style="width: 100%;" ></p-tabMenu>
                     <app-chat></app-chat>

                 </div>
                   <div class="card" style="margin-top: 10px"> <h5 style="margin-top: 20px; margin-bottom: 10px"><u style="color: #0a80bb">Categorie</u></h5>
             <p-timeline align="alternate"  [value]="itemssection2">

                 <ng-template let-section pTemplate="content" style="margin-top: 20px">
                     <tr>

                         <td (click)="Section(section.categorieSection.libelle)"
                             [style.color]="(section.categorieSection.libelle) == (this.selectedsection.categorieSection.libelle)? 'green' :'black' "
                             style="cursor: pointer; text-align: center"><u>{{section.categorieSection.libelle}}</u></td>
                     </tr>
                 </ng-template>
             </p-timeline>
                  </div>-->
            </div>
        </div>
    </div>


    <!--    <div class="card-footer "  style="position: relative;">-->
    <!--        <button pButton pRipple type="button" id="previous" icon="pi pi-caret-left" style="margin-left: 15px; width: 120px" label="Previous"  class="p-button-rounded" [style.visibility]="(this.selectedsection.numeroOrder != 1)? 'visible':'hidden'"  (click)="PreviousSection()" ></button>-->
    <!--        <button pButton pRipple type="button" style="margin-left: 360px; width: 120px" id="quiz" *ngIf="this.selectedsection.categorieSection.libelle != 'Vocabulary'  " [style.visibility]="(this.selectedQuiz.section.id == this.selectedsection.id )? 'visible':'hidden'"  label="{{this.passerQuiz}}"  class="p-button-rounded" [routerLink]="quizView? ['/pages/quiz-view']: ['/pages/quiz-etudiant']"></button>-->
    <!--        <button pButton pRipple type="button" icon="pi pi-caret-right" label="Next" id="next" style=" width: 120px;  position: absolute;right: 25%;" class="p-button-rounded" [style.visibility]="(this.selectedsection.numeroOrder < this.itemssection2.length)? 'visible':'hidden'"  (click)="NextSection()" ></button>-->
    <!--        <button pButton pRipple type="button" icon="pi pi-caret-right"  label="Vocabulary" style="margin-left: 360px; width: 120px" *ngIf="this.selectedsection.categorieSection.libelle == 'Vocabulary'" class="p-button-rounded" (click)="Vocab(this.selectedsection.id)" ></button>-->
    <!--    </div>-->
    <app-dictionary-create></app-dictionary-create>
    <app-dictionary-edit></app-dictionary-edit>
    <app-translate></app-translate>
</div>
