<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '450px'}" header="Registration Details"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="nom">LastName</label>
            <input [(ngModel)]="selected.nom" disabled id="nom" pInputText type="text"/>
        </div>
        <div class="p-field">
            <label for="prenom">FirstName</label>
            <input [(ngModel)]="selected.prenom" disabled id="prenom" pInputText type="text"/>
        </div>
        <div class="p-field">
            <label for="age">Age</label>
            <input [(ngModel)]="selected.age" disabled id="age" pInputText type="text"/>
        </div>
        <div class="p-field">
            <label for="gmail">Email</label>
            <input [(ngModel)]="selected.gmail" disabled id="gmail" pInputText
                    ="text"/>
        </div>
        <div class="p-field">
            <label for="libelle">Parcours</label>
            <input [(ngModel)]="selected.parcours.libelle" disabled id="libelle" pInputText
                    ="text"/>
        </div>
        <div class="p-field">
            <label for="datedebutinscription">Registration Start date</label>
            <input [(ngModel)]="selected.datedebutinscription" disabled id="datedebutinscription" pInputText
                   type="text"/>
        </div>
         <div class="p-field">
        <label for="datefininscription">Registration End date</label>
        <input [(ngModel)]="selected.datefininscription" disabled id="datefininscription" pInputText
                ="text"/>
    </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="hideViewDialog()" class="p-button-text" icon="pi pi-times" label="Fermer" pButton
                pRipple></button>
    </ng-template>
</p-dialog>

