<div class="p-grid" >
    <div class="p-col-9" (mouseup)="dict()">
        <div class="p-grid" id="header">
            <div class="p-col-6">{{this.selected.typeDeQuestion.lib}}</div>
            <div class="p-col-6">{{this.selected.numero}} out of {{this.items.length}}</div>
        </div>
        <div >
            <i class="pi pi-volume-up" style="font-size: 1.5rem; cursor: pointer" (click)="sound()"></i>
        </div>
        <div class="p-grid" id="bodyRadio">
            <div class="p-col-6" id="question">
                <h3 style="margin-top: 100px;margin-bottom: 100px; text-align: center">{{this.question1}} <span id="myAnswer">{{this.answer}} </span> <span id="tooltiptext"> {{this.answerCorrect}} </span> {{this.question2}}</h3>
                <h3 id="translate-choix-unique" style="text-align: right"> {{this.translate}}</h3>
            </div>
            <div class="p-col-6" id="answers" >
                <div style="margin: 50px 50px">
                    <div  *ngFor="let r of reponses" id="answers-radio">
                        <input class="option-input radio" type="radio" value="{{r.id}}" [(ngModel)]="selectedValue" [attr.disabled]="disable? true: null" name="groupname" (click)="selectionChanged($event,r)">
                        <label>{{r.lib}}</label><br>
                    </div>
                </div>
            </div>

            <div style="background-color: white; width: 100%" id="mistake">
                <!--<h3 style="margin-top: 100px;margin-bottom: 20px; text-align: center">{{this.selected.libelle}} </h3>-->
                <span class="p-float-label" style="margin-left: 10%; margin-bottom: 20px">
                    <textarea id="float-input-correct-mistake" [disabled]="disable? true: null" [(ngModel)]="this.selected.libelle" (keyup)="correctMistake()" pInputTextarea></textarea>
                    <div id="div-output">
                        <output *ngFor="let i of numberofword" id="output-correct-mistake"> <span id="span-output-{{i}}" [style.visibility]="isChecked? 'visible' : 'hidden'"> {{this.myanswers[i]}} </span> <span id="span-correct-{{i}}" class="span-correct" [style.visibility]="answerCorrectOrFalse[i]? 'hidden' : 'visible'"> {{this.correctanswers[i]}} </span> </output>
                    </div>
                    <h3 id="translate-correct-mistake" style="text-align: right"> {{this.translate}}</h3>
                    <button pButton pRipple id="check-correct-mistake" type="button" style="width: 200px; margin-left: 30%; margin-top: 50px" label="Check" (click)="checkCorrectMistake()" class="p-button-outlined p-button-success"></button>
                </span>
            </div>
            <div class="p-col-6" id="on-off-question" style="background: white;">
                <h3 id="question-on-off" style="margin-top: 100px;margin-bottom: 100px; text-align: center">{{this.selected.libelle}}</h3>
                <h3 id="translate-on-off" style="text-align: right"> {{this.translate}}</h3>
            </div>
            <div class="p-col-6" id="on-off-answer" >
                <div style="margin: 50px 50px">
                    <output style="margin-left: 20px; margin-right: 10px; font-size: 30px; font-family: 'Goudy Old Style'">False </output><p-inputSwitch [(ngModel)]="on_off"></p-inputSwitch> <output style="margin-left: 10px; font-size: 30px; font-family: 'Goudy Old Style'">True</output>
                    <button pButton pRipple id="check-on-off" type="button" style="width: 200px; margin-left: 30%; margin-top: 50px" label="Check"(click)="checkCorrectMistake()" class="p-button-outlined p-button-success"></button>

                </div>
            </div>
            <div id="type-input" style="background-color: white; width: 100%; ">
                <h3 style="text-align: center; margin-top: 100px; margin-bottom: 100px">{{this.question1}} <input type="text" id="type-question-input" [attr.disabled]="disableInput? true: null" style="margin-left: 5px; margin-right: 5px; color: #0a80bb; border: 1px solid #4d646f; width: 120px; height: 30px; font-size: 25px" [(ngModel)]="this.reponseInput" placeholder="{{this.placeholderTypeInput}}"> <span id="tooltiptext-input" [style.visibility]="input_true_false? 'hidden' : 'visible'">{{this.correctAnswers[0].lib}}</span> {{this.question2}}</h3>
                <h3 id="translate-input" [style.visibility]="disableInput? 'visible' : 'hidden'" style="text-align: right"> {{this.translate}}</h3>
                <button pButton pRipple id="check-input" type="button" style="width: 200px; margin-left: 30%; margin-top: 50px" label="Check" (click)="checkCorrectMistake()" class="p-button-outlined p-button-success"></button>
            </div>
            <div style="margin-left: 40%; margin-top: 50px">
                <button pButton pRipple type="button" style="width: 200px;" [style.visibility]="disable? 'visible' : 'hidden'" label="{{this.button}}" (click)="start()" class="p-button-outlined p-button-success"></button>
            </div>

        </div>

        <div id="result" style="visibility: hidden">
            <div class="p-grid">
                <div class="p-col">
                    <h1 style="text-align: center; font-family: 'Times New Roman'">Quiz Result</h1>
                    <h4 style="text-align: center; margin-top: 100px">{{this.resultat}}</h4>
                </div>
                <div class="p-col">
                    <img src="{{this.image}}" style="width: 90%; height: 90%" alt="">
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <div style="text-align: center; border: solid 1px black; margin-left: 20px">
                        <h2>{{this.noteQuiz}}/{{this.totalNote}}</h2>
                        <h4>Your note</h4>
                    </div>
                </div>
                <div class="p-col" style="text-align: center">
                    <div style="text-align: center; border: solid 1px black; margin-left: -10px; margin-right: 20px">
                        <h2>{{this.selectedQuiz.seuilReussite}}/{{this.totalNote}}</h2>
                        <h4>Passing note</h4>
                    </div>
                </div>
            </div>
            <button pButton pRipple type="button" style="width: 30%; margin-left: 10%; margin-bottom: 50px" icon="pi pi-undo" type="button" label="Restart the quiz" (click)="restartQuiz()" class="p-button-raised p-button-danger"></button>
            <button pButton pRipple style="width: 30%; margin-left: 20%; margin-bottom: 50px" icon="pi pi-caret-right" type="button" label="Next Section" (click)="NextSection()" class="p-button-raised p-button-success"></button>
        </div>
    </div>
    <div class="p-col-3" (mouseup)="dict()">
        <div class="p-col-3 product-grid-item"  style="width: 100%;">
            <div class="product-grid-item-content" >
                <div style="margin-top: 20px">

                    <h5><u style="color: #8b8b90; margin-left: 5px">{{this.selectedDict.word}}</u>  {{this.selectedDict.definition}}</h5>
                    <div class="p-inputgroup" >
                        <p-autoComplete [(ngModel)]="wordDictionnary" [suggestions]="filteredDict" (completeMethod)="filterDict($event)" field="word" [minLength]="1"></p-autoComplete>
                        <button type="button" pButton pRipple style="background-color: orange"  icon="pi pi-search"  (click)="findByWord()" ></button>
                        <button type="button" pButton pRipple icon="pi pi-plus" style="background-color: #8b8b90" (click)="openCreateDict()" ></button>
                    </div>
                </div>
                <div class="card" style="margin-top: 15px">
                    <p-tabMenu [model]="menu" [activeItem]="menu[0]" style="width: 100%;" ></p-tabMenu>


                    <div  id="categoriess" style="width: 100%;margin-top: 15px" >
                        <p-table [value]="itemssection2" id="categ" style="margin-top: 20px; margin-right: 30px;">

                            <ng-template let-section  pTemplate="body" >
                                <tr class="timeline">
                                    <li>
                                        <td (click)="Section(section.categorieSection.libelle)"
                                            [style.color]="(section.categorieSection.libelle) == (this.selectedsection.categorieSection.libelle)? 'orange' :'black' "
                                            style="cursor: pointer; font-weight: 600;margin-left: 5px; font-size: 15px">
                                            <u>{{section.categorieSection.libelle}}</u></td>
                                    </li></tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div  id="word" style="margin-top: 5px; width: 0px; height: 0px" [style.visibility]="'hidden'">

                        <p-table  id="wrd" [value]="itemsDict" [rows]="5" [paginator]="true" [rowHover]="true" dataKey="id" style="margin-top: 20px; width: 0px">

                            <ng-template let-dict  pTemplate="body" >
                                <tr>

                                    <td (click)="dictEdit(dict)"
                                        style="font-weight: 800; text-align: center; cursor: pointer"><b style="font-size: 20px; color: black;">{{dict.word}}</b> : <b style="font-size: 20px; color: orange;">{{dict.definition}}</b></td>

                                </tr>
                            </ng-template>

                        </p-table>
                    </div>
                    <app-chat1 id="chat" [style.visibility]="'hidden'"></app-chat1>

                </div>
            </div>
        </div>
    </div>
    <app-dictionary-create></app-dictionary-create>
    <app-dictionary-edit></app-dictionary-edit>
    <app-translate></app-translate>
</div>



