<p-card [style]="{width:'60%',margin:'0 auto',marginTop:'10px'}"
        class="p-d-block p-mx-auto">
    <div style="position: relative;width: 100%">
        <h5>Learn the words</h5>
        <h6 style="position: absolute;right: 15px;">{{currentIndex}} out of {{listItems.length}}</h6>
    </div>
    <div>
        <p-progressBar [value]="progressBarValue" [showValue]=false></p-progressBar>
    </div>
    <app-image-item [current]="currentItem"></app-image-item>
    <div *ngIf="showNext" style="margin-top: 10px;text-align: center">
        <button
                *ngIf="fliped===false"
                (click)="flip()"
                class="p-button-rounded p-button-success" icon="pi pi-refresh" id="flip" label="Flip"
                pButton pRipple
                type="button"></button>
        <button
                (click)="nextItem()"
                *ngIf="fliped===true"
                class="p-button-rounded" icon="pi pi-caret-right" id="next" label="Next"
                pButton pRipple
                type="button"></button>
    </div>
    <div *ngIf="showfinish" style="margin-top: 10px;text-align: center">
        <button
                (click)="endShow()"

                class="p-button-rounded p-button-danger" icon="pi pi-power-off" id="finish" label="Finish"
                pButton pRipple
                type="button"></button>
    </div>
</p-card>

