<p-galleria [(value)]="home" [autoPlay]="true" [circular]="true"
            [containerStyle]="{'max-width': '100%'}" [numVisible]="3"
            [responsiveOptions]="responsiveOptions" [transitionInterval]="8000" cl>
    <ng-template let-item pTemplate="item">
        <div class="home-back"
             style="width: 100%;height: 80vh;background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('{{item.label}}');background-size: cover;background-position: center;">
            <div class="home">
                <h1>{{item.titre}}</h1>
                <p>{{item.descreption}}</p><br>
                <p>{{item.descreption2}}</p><br>
                <p>{{item.descreption3}}</p><br>
                <p>{{item.descreption4}}</p><br>
                <p>{{item.descreption5}}</p><br>
            </div>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="thumbnail">
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.label"
                 style="width: 30%;height: 10vh;background-size: cover;background-position: center; "/>
        </div>
    </ng-template>
</p-galleria>

