<p-dialog [(visible)]="viewDialogProf" [modal]="true" [style]="{width: '700px'}" header="You're opinion"
          styleClass="p-fluid">
    <ng-template pTemplate="content">



<p style="font-size: 30px">Hello , how did you find today's lesson with this student :
        <p-dropdown [(ngModel)]="selectedProfReview.etudiant" [options]="students"
                    optionLabel="nom" name="libelle" autoWidth="false" placeholder="--Please choose Student--" [style]="{'width': '50%', 'float': 'right','marginTop': '1%', 'marginRight': '15%'}" ></p-dropdown>
        </p>
        <div class="p-grid p-fluid p-col">
            <div class="p-field p-col">
                <p class="emoji" id="1" style="font-size: 60px; cursor: pointer; text-align: center" (click)="emoji(1)">😡</p>
        </div>
        <div class="p-field p-col">
                <p class="emoji" id="2" style="font-size: 60px; cursor: pointer; text-align: center" (click)="emoji(2)">😣</p>
            </div>
            <div class="p-field p-col">
                <p class="emoji" id="3" style="font-size: 60px; cursor: pointer; text-align: center" (click)="emoji(3)" >😏</p>
            </div>
            <div class="p-field p-col">
                <p class="emoji" id="4" style="font-size: 60px; cursor: pointer; text-align: center" (click)="emoji(4)">🙂</p>
            </div>
            <div class="p-field p-col">
                <p class="emoji" id="5" style="font-size: 60px; cursor: pointer; text-align: center" (click)="emoji(5)">😀</p>

            </div>
        </div>

        <div class=" p-col">
            <textarea [(ngModel)]="selectedProfReview.comment" placeholder="Comment your opinion" autoResize="true" autofocus pInputTextarea
                      required type="text"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button (click)="save()" icon="pi pi-check" iconPos="right" label="Submit"></p-button>

        <button (click)="hideViewDialog()" class="p-button-text" icon="pi pi-times" label="Fermer" pButton
                pRipple></button>
    </ng-template>
</p-dialog>
