h1 {
  color: gray;
  font-family: "Great Vibes", cursive;
  font-size: 100px;
  font-weight: normal;
  margin-bottom: 0px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.bg-image {
  /* The image used */

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  width: 30%;
  height: 200px;
  margin: 0 auto;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-image-no-blur{
  /* The image used */

  /* Full height */
  width: 30%;
  height: 200px;
  margin: 0 auto;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

