img {
  margin-left: 250px;
}

.box > h2 {
  text-align: center;
  font-family: Algerian;
  font-size: 30px;
}

.box > h6 {
  text-align: center;
  font-family: Oliver;
  font-size: 15px;
}

.box > p {
  text-align: center;
  font-family: Garamond;
  font-size: 20px;
}
