<p-card>
    <div [style.background-image]="'url(' + current.imageUrl + ')'" class="bg-image" id="imageDiv">
        <!--
                <img src="https://drive.google.com/uc?export=view&id=1k_v1w04p_9JkbPZdPwjTGRY-00IktME4" style="object-fit: cover;">
        -->
    </div>
    <div class="p-inputgroup" id="divStudentResponse" style="width: 40%;margin:0 auto">
        <input [(ngModel)]="cureentResponse" id="inputStudentResponse" pInputText placeholder="Enter your answer"
               type="text">
        <button (click)="checkResponse()" class="p-button-success p-mr-3" icon="pi pi-check" id="buttonStudentResponse" pButton
                pRipple type="button"></button>
    </div>
    <div id="diveMessage" style="width: 40%;margin:0 auto;">
        <p-messages></p-messages>
    </div>
    <div *ngIf="selected" id="diveShow" style="width: 80%;margin:0 auto;">
        <p-accordion>
            <p-accordionTab [selected]="false" header="More Detail" id="moreDetail">
                <div class="p-text-left">
                    <h5>Response</h5>
                    <p>{{current.response}}</p>
                    <h5>Translation</h5>
                    <p>{{current.translation}}</p>
                    <h5>Explanation</h5>
                    <p>{{current.explanation}}</p>
                    <h5>Example</h5>
                    <p>{{current.example}}s</p>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>

</p-card>
