<div class="p-grid list-demo">
    <div class="p-col-12">
        <div class="card" style="background-color: gainsboro;">

            <p-dataView #dv [paginator]="true" [rows]="9" [value]="selectessection" filterBy="name"
                        layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <h3>Sections</h3>
                        <div style="margin-left: 80%">
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-section pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="product-list-item">
                            <!--    <iframe [src]='section.urlImage | safe' alt="Section Image" frameborder="0"
                                      webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                            <img *ngIf="section.urlImage.exists" [src]="section.urlImage | safe" height="300"
                                 width="250">
                            <img *ngIf="!section.urlImage && !section.urlVideo" height="300" src="../../../../assets/notfound.jpg"
                                 width="250">
                            <iframe *ngIf="section.urlVideo.exists" [src]="section.urlVideo | safe" allowfullscreen
                                    height="400" width="500"></iframe>

                            <div class="product-list-detail" >
                                <div class="product-name">{{section.libelle}}</div>
                                <div class="product-description">{{section.description}}</div>

                            </div>

                        </div>
                    </div>
                </ng-template>
                <ng-template let-section pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <div class="product-grid-item card">
                            <div class="product-grid-item-content" style="cursor: pointer">
                                <!--   <iframe [src]='this.sanitizer.bypassSecurityTrustResourceUrl(section.urlImage)' frameborder="0" -->
                                <!--  <iframe [src]='section.urlImage | safe' frameborder="0"
                                         webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                                <img *ngIf="section.urlImage" [src]="section.urlImage | safe" height="300" width="250">
                                <img *ngIf="!section.urlImage && !section.urlVideo" height="300"
                                     src="../../../../assets/notfound.jpg" width="250">
                                <iframe *ngIf="section.urlVideo" [src]="section.urlVideo | safe" allowfullscreen
                                        height="300" width="250"></iframe>
                                <div class="product-name">{{section.libelle}}</div>
                                <div class="product-description">{{section.description}}</div>
                            </div>

                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>

</div>

